@model IEnumerable<Temperature>

@{
    ViewData["Title"] = "Details";
}

<script>
   

</script>
<h1>API Values</h1>

<div>
    <button class="inners" value="@ViewBag.Counter">@ViewBag.Counter</button>
    



    @if (ViewBag.id == null | ViewBag.value == null )
    {
        @Html.Raw($"<br> No values to display")
    }
    else
    {
        @Html.Raw($"<br> id = {ViewBag.id}");
        @Html.Raw($"<br > value = {ViewBag.value}</ br >");
    }

    @*<a asp-action="Index">Back to List</a>*@
</div>
